<!DOCTYPE html>
<html lang="de">

<head>
  <title>Der Die Das?!</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A plain and simple game to guess (and learn) German articles." />

  <script defer="true" src="/static/js/htmx.min.js"></script>

  <link rel="stylesheet" href="/static/css/site.css?v=1" />

  <link rel="icon" type="image/x-icon" href="/static/icon/favicon.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/icon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/icon/android-chrome-512x512.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">

  <link rel="manifest" type="application/manifest+json" href="/static/site.webmanifest">
</head>

<body>
  <h1 lang="en">Guess the correct <em>singular</em> article!</h1>

  <div class="game-box">
    <div id="word" class="loading" hx-get="/word" hx-trigger="load">Loading up...</div>
    <img src="/static/img/spinner.svg" class="loading" />

    <form hx-get="/choice" hx-vals="js:{word: document.getElementById('word').textContent}" hx-target=".user-picks"
      hx-swap="afterbegin" hx-indicator=".loading">
      <input type="submit" hx-trigger="click" value="der" name="article" /><input type="submit" hx-trigger="click"
        value="die" name="article" /><input type="submit" hx-trigger="click" value="das" name="article" />
    </form>
  </div>

  <div class="user-picks"></div>

  <footer>
    <a href="https://github.com/alexpovel/derdiedas"><img src="/static/img/github.svg" /></a>
  </footer>
</body>

</html>
